__pycache__/
.DS_Store
data/
cache/
assets/nmnist/train/
assets/nmnist/test/
#assets/class_samples.pt
plots/
weights/nmnist_mlp.pt
weights/nmnist_mlp64_16.pt

extract_class_samples.py
NMNIST.py
plot.py

trainNMNIST_mlp.py

trainNMNIST_cnn.py
network_cnn.py
